* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/back.jpg);
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgb(255, 0, 0, 0), rgba(255, 0, 0, 0));
    
}

header h1 {
    font-size: 3rem;
    position: relative;
    padding-left: 30px;

}

.menu-header {
    display: flex;
    gap: 2rem;
    padding: 20px;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    color: #fff;
    margin-right: 30px;
    padding: 10px;
}

span {
    color: var(--roxo-vibrante);
    margin-left: 10px;
}

