*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/assets/back.jpg);
    color: white;
}
header ul li{
    display: flex;
    flex-direction: row;
}
#card p{
    text-align: justify;
}